{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Soma Unit.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
  </head>

  <body>
    <header>
      <div class="logo">
        <!-- Your logo or site name -->
        <center>
          Soma Unit.
        </center>
      </div>
      <nav>
        <!-- Navigation links if needed -->
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'dashboard' %}">My Dashboard</a></li>
          <li><a href="#">About SomaUnit</a></li>
          <li>
            <!-- <a href="HTML/profile.html"><img src="images/5.svg" alt="User Icon" />Profile</a> -->
          </li>
        </ul>
      </nav>
    </header>

   {% block content %} {% endblock content %}
        
    <footer>
      <div class="social-icons">
        <!-- Social media icons -->
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <p>&copy; 2023 Soma Unit.</p>
    </footer>
  </body>


  <script>// Use JavaScript to scroll to the desired section
    function scrollToSection(sectionNumber) {
      const sections = document.querySelector('.sections');
      const sectionWidth = document.querySelector('.section').offsetWidth;
      sections.style.transform = `translateX(-${sectionWidth * (sectionNumber - 1)}px)`;
    }
    </script>

</html>

